body
{
    background: #2b2b2b;
    margin: 0;
    padding: 0;
}
.loader
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%);
}
.loader span {
    font-family: Arial, Helvetica, sans-serif;
}